altgraph==0.17.4
cx_Freeze==7.2.7 
cx_Logging==3.2.1
lief==0.15.1
mutagen==1.47.0
packaging==24.2
pefile==2023.2.7
pillow==11.0.0
pygame==2.6.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
PySide6==6.8.0.2
PySide6_Addons==6.8.0.2
PySide6_Essentials==6.8.0.2
pywin32-ctypes==0.2.3
shiboken6==6.8.0.2